# Adapted from hake-assessment
*.log
*.aux
*.bbl
*.blg
*.tex
*~*
*.dvi
*.ps
*.RData
.RHistory
*.7z
*/*.zip
*.toc
*.out
*.synctex
*.snm
*.nav
*.rdb
*.rdx
*.pdf
!POPreport.pdf
*/knitr-cache
*.docx
*.doc
*.ppt*

*/POP_v0.2.zip
# Some more from hake-assessment that may be useful
doc/cache/*
doc/figure/*
doc/resDoc.tex
doc/r/old*
models/*
models-dev/*
extra-models/*
models*/*

